<br>
<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "enter first name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "enter last name" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "enter email" %>
  </div>
  <div>
    <%= f.password_field :password_digest%>
  </div>
  <%= f.submit "Create New User", class: "btn btn-info btn-lg" %>
<% end %>
<br>
