<!DOCTYPE html>
<html>
<head>
  <title>LibApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <p style="height : 35px; width : 100%; background-color: green; font-size: 25px; ">
      <small><%= name.capitalize %> : <%= msg %></small>
    </p>
  <% end %>
  <nav>
  <% if current_user %>
    <a><%= link_to "Profile", user_path(current_user), class: "nav-item nav-link" %></a>
    <a><%= link_to "Log Out", logout_path, class: "nav-item nav-link"%></a>
  <% else %>
    <a><%= link_to "Create Account", new_user_path, class: "nav-item nav-link" %></a>
    <a><%= link_to "Log In", login_path, class: "nav-item nav-link" %></a>
  <% end %>
  </nav>

<%= yield %>

</body>
</html>
