<!DOCTYPE html>
<html>
<head>
  <title>LibApp</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
  <div class="alert alert-info" role="alert">
    <small><%= name.capitalize %> : <%= msg %></small>
  </div>
  <% end %>
  <nav>
  <% if current_user %>
    <a><%= link_to "Profile", user_path(current_user), class: "nav-item nav-link" %></a>
    <a><%= link_to "Log Out", logout_path, class: "nav-item nav-link"%></a>
  <% else %>
    <a><%= link_to "Create Account", new_user_path, class: "nav-item nav-link" %></a>
    <a><%= link_to "Log In", login_path, class: "nav-item nav-link" %></a>
  <% end %>
  </nav>

<%= yield %>

</body>
</html>
