Sign Up

<%= form_for @user do |f| %>
<div class="">
  <%= f.text_field :first_name, placeholder: "First Name" %>
</div>
<div class="">
  <%= f.text_field :last_name, placeholder: "Last name" %>
</div>
<div class="">
  <%= f.text_field :email, placeholder: "Email" %>
</div>
<div class="">
  <%= f.password_field :password, placeholder: "Password" %>
</div>
<%= f.submit "Sign Up" %>
<% end %>
