<%= form_for @library do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "name" %>
  </div>
  <div>
    <%= f.number_field :floor_count, placeholder: "floor count" %>
  </div>
  <div>
    <%= f.number_field :floor_area, placeholder: "floor area" %>
  </div>
  <%= f.submit "add" %>
<% end %>
